<ion-header>
  <ion-toolbar>
    <ion-title>
      Team INit
    </ion-title>
  </ion-toolbar>



<ion-list>
  <ion-item>
    <ion-label>Allen</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Max M.</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Simon M.</ion-label>
    <ion-avatar
        class="avatar">
            <img src="https://scontent.flis8-2.fna.fbcdn.net/v/t1.0-9/46512124_2138692532842429_49079347205636096_n.jpg?_nc_cat=102&_nc_ht=scontent.flis8-2.fna&oh=7a029155540d37dd01a1097d3e8e0b81&oe=5D5F65CC">
    </ion-avatar>
        
  </ion-item>
</ion-list>

</ion-header>
