<ion-header>
  <ion-toolbar>
    <ion-title>
      Team INit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Allen</ion-label>
    <ion-avatar class="avatar">
      <img
        src="https://scontent.fopo2-2.fna.fbcdn.net/v/t1.0-9/35191379_1749487068479729_3932402022480871424_n.jpg?_nc_cat=111&_nc_ht=scontent.fopo2-2.fna&oh=5cb3028ee5c9015615d33aab0d5d5542&oe=5D5622FA">
    </ion-avatar>
  </ion-item>
  
  <ion-item>
    <ion-label> Max M.</ion-label>
      <ion-avatar class = "avatar">
        <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/50323519_1502749363201950_6804091407981084672_n.jpg?_nc_cat=102&_nc_ht=scontent.fopo2-1.fna&oh=1a078ebe348b500d16d239b58a095063&oe=5D5A9618">
      </ion-avatar>
  </ion-item>
  
  <ion-item>
    <ion-label>Simon M.</ion-label>
    <ion-avatar
        class="avatar">
            <img src="https://scontent.flis8-2.fna.fbcdn.net/v/t1.0-9/46512124_2138692532842429_49079347205636096_n.jpg?_nc_cat=102&_nc_ht=scontent.flis8-2.fna&oh=7a029155540d37dd01a1097d3e8e0b81&oe=5D5F65CC">
    </ion-avatar>
        
  </ion-item>
</ion-list>
</ion-content>




  
    
    
